<div class="banner" style="${banner.background @ context='unsafe'}" data-sly-use.banner="banner.js">
    <div class="cover-mask">
        <div class="banner-inner">
            <div class="description">
                <h1>
                    ${banner.mainTitle}
                </h1>
                <h2>
                    ${banner.subTitle}
                </h2>
                <h5>
                    ${banner.t1}
                </h5>
                <h5>
                    ${banner.t2}
                </h5>
                <h5>
                    ${banner.t3}
                </h5>
            </div>
        </div>
    </div>
</div>